$navHoverColor: darkorange;
$navDarkColor: #3a3a3c;
$navLightColor: #818285;
$largeBannerHeight: 45px;
$mediumBannerHeight: 40px;
$smallBannerHeight: 35px;

@import 'partials/_large';
@import 'partials/_medium';
@import 'partials/_small';

body {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}

#siteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  height: 20px;
  padding: 20px;
  position: sticky;
  top: 0px;
  background-color: lightblue;
}

.nav:hover {
  color: $navHoverColor;
  cursor: pointer;
}

#navBar {
  display: flex;
  justify-content: center;
  height: $largeBannerHeight;
  background: $navDarkColor;
  position: sticky;
  top: 55px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $navLightColor;
  height: $largeBannerHeight;
  font-family: 'Kelly Slab', cursive;
  font-size: 1.5em;
}

.navBullet {
  display: flex;
  color: $navLightColor;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.navButton {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.AddItem {
  background: none;
  color: midnightblue;
  border: midnightblue 1px solid;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 18px;
}

.AddItem:hover {
  color: lightblue;
  background-color: midnightblue;
  cursor: pointer;
}

.content {
  border: 1px gray dotted;
  margin: 10px;
  padding: 5px;
  font-family: 'Amaranth', sans-serif;
}

.submitForm {
  display: table;
  margin: 10px;
}

.formRow {
  display: table-row;
}

label {
  display: table-cell;
  font-family: 'Amaranth', sans-serif;
}

input {
  display: table-cell;
  margin-left: 10px;
  font-family: 'Amaranth', sans-serif;
}

.detailBox {
  display: table;
  margin: 10px;
}

.detailRow {
  display: table-row;
}

.attribute {
  display: table-cell;
  font-family: 'Amaranth', sans-serif;
}

.detail {
  display: table-cell;
  font-family: 'Amaranth', sans-serif;
  padding-left: 10px;
}

.EditItem {
  margin-left: 10px;
}

.optionButtons {
  display: flex;
}

.optionButton {
  height: 20px;
  width: 50px;
  margin: 5px;
}
