<div id="navBar">
  <span class="nav" id="nav1">
    <form action="/" method="get">
      <button class="navButton" type="submit">Home</button>
    </form>
  </span>
  <span class="navBullet">•</span>
  <span class="nav" id="nav2">
    <form action="/products" method="get">
      <button class="navButton" type="submit">Products</button>
    </form>
  </span>
  <span class="navBullet">•</span>
  <span class="nav" id="nav3">
    <form action="/articles" method="get">
      <button class="navButton" type="submit">Articles</button>
    </form>
  </span>
</div>