<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Document</title>
</head>

<body>
  <form action="/articles" method="post">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label for="body">Body:</label>
      <input type="text" id="body" name="body">
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" name="author">
    </div>
    <div class="button">
      <button type="submit">Submit your Article</button>
    </div>
  </form>

</body>

</html>